.obrazek
{
position:absolute;
top:5px;
right:5px;
background:url(https://tse4.mm.bing.net/th?id=OIP.xdg68Wkq5pIa-KvHedBXHgAAAA&pid=Api&P=0&h=220);
width:200px;
height:200px;
}
h1
{
font-size: 40px;
}
p
{
font-size: 20px;
}

.seznam-flex-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}
.nested-container {
    margin-left: 20px;
    margin-top: 10px;
}

















<html>
<head>
<title>informace o mě</title>
<meta charset="UTF-8">
<link rel="stylesheet" href>


</head>
<body>
<h1>
   MOJE ZÁLIBY:
</h1>
   <p>
<ul>
<li>  Už od malička hraji videohry a šachy.</li>
<li>Také se rád večer procházím. </li>
<li>od 6 let se věnuji hasičině</li>
</ul>




</p>
<div class="nested-container "> <h1>hry<h1>
   <p>gknjm fghvbv kjnbvkjnfd jk</p>

</div>
<div class="obrazek"> </div>
</body>

</html>